<h1 class="pad-bottom">our team</h1>
<span class="cf">
    <div class="item item-3">
        <img src="http://www.gravatar.com/avatar/b7452541a659071b71df3348413637ee?s=200"/>
        <h2>Alex Freska</h2>
    </div>
    <div class="item item-3">
        <img src="http://www.gravatar.com/avatar/4c9df93e1d7648ef79600604ae10420f?s=200"/>
        <h2>Brian Le</h2>
    </div>
    <div class="item item-3">
        <img src="http://www.gravatar.com/avatar/bfdcd76a745ec77a45b034c5212478a6?s=200"/>
        <h2>Raymond Jacobson</h2>
    </div>
</span>
