<span class="cf">
    <div class="item">
        <h1>4.56 GB / &infin;</h1>
        <h2>Aggregated 10.58 GB</h2>
    </div>
    <div class="item">
        <a class="btn push-top">upload more</a>
    </div>
</span>
<div id="files">
    <table>
        <tr>
            <th>Name</th>
            <th>Timestamp</th>
        </tr>
        <tr>
            <td><p>file</p></td>
            <td><p>Oct. 13, 2013. 11:59am</a></td>
        <td><a href="#">download</a></td>
    </tr>
    <tr>
        <td><p>file</p></td>
        <td><p>Oct. 13, 2013. 11:59am</a></td>
    <td><a href="#">download</a></td>
</tr>
<tr>
    <td><p>file</p></td>
    <td><p>Oct. 13, 2013. 11:59am</a></td>
<td><a href="#">download</a></td>
                </tr>
            </table>
        </div>
        <span class="cf">
            <div class="item">
                <h1>4.56 GB / &infin;</h1>
                <h2>Aggregated 10.58 GB</h2>
            </div>
            <div class="item">
                <a class="btn push-top">upload more</a>
            </div>
        </span>
        <div id="files">
            <table>
                <tr>
<th>Name</th>
<th>Timestamp</th>
                </tr>
                <tr>
<td><p>file</p></td>
<td><p>Oct. 13, 2013. 11:59am</a></td>
                    <td><a href="#">download</a></td>
                </tr>
                <tr>
                    <td><p>file</p></td>
                    <td><p>Oct. 13, 2013. 11:59am</a></td>
                    <td><a href="#">download</a></td>
                </tr>
                <tr>
                    <td><p>file</p></td>
                    <td><p>Oct. 13, 2013. 11:59am</a></td>
                    <td><a href="#">download</a></td>
                </tr>
            </table>
        </div>
