<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css' ) }}" >
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<title>{{return_vals['title']}}</title>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/cumulus.js') }}"></script>
</head>
<body>
	<div id="container">
		<span class="cf">
			<div class="item">
				<h1>{{return_vals['used_space']}} GB / &infin;</h1>
				<h2>Aggregated {{return_vals['aggregated_space']}} GB</h2>
			</div>
			<div class="item">
				<form method="post">
					<a href="#" class="btn push-top upload">upload more</a>
					<input type="file" name="file" class="uploader no_display"/>
				</form>
			</div>
		</span>
		<div id="files">
			<table>
				{% for file in return_vals['files'] %}
					<tr>
						<th>{{file['name'] }}</th>
						<th>{{File['account'] }}</th>
						<th>{{file['uploaded_at']}}</th>
						<td><a href="#">download</a></td>
					</tr>
				{% endfor %}
				<tr>
					<th>Name</th>
					<th>Timestamp</th>
				</tr>
				<tr>
					<td><p>file</p></td>
					<td><p>Oct. 13, 2013. 11:59am</a></td>
					<td><a href="#">download</a></td>
				</tr>
				<tr>
					<td><p>file</p></td>
					<td><p>Oct. 13, 2013. 11:59am</a></td>
					<td><a href="#">download</a></td>
				</tr>
				<tr>
					<td><p>file</p></td>
					<td><p>Oct. 13, 2013. 11:59am</a></td>
					<td><a href="#">download</a></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>